*{
	padding: 0 auto;
	margin: 0 auto;
	font-family: sans-serif;
}

@font-face{
	src: url(../font/Christmas111.ttf);
	font-family: Christmas111;
}

h1{
	font-family: Christmas111;
	padding-top: 30px;
	margin-bottom: -20px;
	color: #fff200;
	font-size: 10px;
	-webkit-text-stroke: 0.5px black;
}

.h6{
	text-align: justify;
}
.cup{
	margin-top: 10px;
	margin-bottom: -40px;
}
/*
.img1{
	height: 120px;
	background-image: url(../img/2.webp);
	background-size: 100%;
	border: 2px solid black;
}*/

.text{
	padding-top: 5px;
}

.price{
	padding-top: 30px;
}

.fulldiv{
	background-color: pink;
	transition: 2s;
}

.fulldiv:hover{
	background-color: #fffa65;
	transition: 0.7s;	
}
